<div class="container">
  <div class="page-header">
    <h2>Registro</h2>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html:{class: "col-xs-6"}) do |f| %>
          <%= devise_error_messages! %>

          <div class="form-group">
            <%= f.label :username, "Usuario" %>
            <%= f.text_field :username, autofocus: true, class: "form-control" %>
          </div>

          <div class="form-group">
            <%= f.label :name, "Nombre" %>
            <%= f.text_field :name, class: "form-control" %>
          </div>

          <div class="form-group">
            <%= f.label :school, "Colegio" %>
            <%= f.text_field :school, class: "form-control" %>
          </div>

          <div class="form-group">
            <%= f.label :email %>
            <%= f.email_field :email, class: "form-control" %>
          </div>

          <div class="form-group">
            <%= f.label :password, "Contraseña" %> <i>Mínimo 8 caracteres</i>
            <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
          </div>

          <div class="form-group">
            <%= f.label :password_confirmation %><br />
            <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>
          </div>

          <div><%= f.submit "Registrarse", class: "btn btn-success btn-lg btn-block" %></div>
        <% end %>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-xs-6">
        <%= render "devise/shared/links" %>
    </div>
  </div>
</div>