<div class="container">
  <div class="page-header">
    <h1>Subir problema</h1>
  </div>

  <div class="row">
    <div class="col-xs-6">
      <%= form_for @problem, :html => {:multipart => true} do |f| %>

        <div class="form-group">
          <%= f.label :name, "Nombre" %>
          <%= f.text_field :name, class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :description, "Descripción"%>
          <%= f.text_area :description, class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :max_date, "Máxima fecha de envío" %>
          <%= f.date_select :max_date, class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :solution, "Solución" %>
          <%= f.file_field :solution, class: "form-control" %>
        </div>

        <%= f.hidden_field :solution_cache %>

        <div class="form-group">
          <%= f.label :language, "Lenguaje de la solución" %>
          <%= f.text_field :language, class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :input, "Entrada" %>
          <%= f.file_field :input, class: "form-control" %>
        </div>
        <%= f.hidden_field :input_cache %>

        <%= f.submit "Subir", class: "btn btn-lg btn-success" %>

      <% end %>
    </div>
  </div>
</div>
