<div class="container">
  <div class="row">
    <div class="col-xs-12">

    <%= form_for @submission, url: problem_submissions_path(@problem), html: {multipart: true, class: "col-xs-6"} do |f| %>
        <% if @submission.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@submission.errors.count, "error") %></h2>

            <ul>
            <% @submission.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
            </ul>
          </div>
        <% end %>

        <div class="form-group">
          <label for="submission[source_code]">Solución</label>
          <%= f.file_field :source_code, class:"form-control" %>
          <%= f.hidden_field :source_code_cache %>
        </div>

        <div class="form-group">
          <label for="submission[language]">Lenguage</label>
          <%= f.select(
                :language,
                options_for_select([['Discant','dis'],['Python','py']]),
                {},
                {class: "form-control"}) %>
        </div>


        <div class="actions">
          <%= f.submit("Enviar") %>
        </div>
      <% end %></div>
  </div>
</div>