<div class="container">
  <div class="page-header">
    <h1>Envíos</h1>
  </div>

  <div class="row">
    <div class="col-xs-12 col-md-3">
      <!-- TODO: implementar filtro -->
      Aquí va un filtro
    </div>
    <div class="col-xs-12 col-md-9">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>#</th>
            <th>Problema</th>
            <th>Usuario</th>
            <th>Resultado</th>
            <th>Fecha de envío</th>
          </tr>
        </thead>
        <tbody>
          <% @submissions.each do |submission| %>
            <tr>
              <td><%= submission.id %></td>
              <td><%= link_to submission.problem.name, submission.problem %></td>
              <td><%= link_to submission.user.username , submission.user %></td>
              <td class="<%= submission.result == 'ACCEPTED'?'success':'danger'%>"><%= submission.result %></td>
              <td><%= submission.created_at %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>